body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .center {
    text-align: center;
  }
  
  .red-bg {
    background-color: red;
  }
  
  .green-bg {
    background-color: green;
  }
  